.wrap {
  max-width: 430px;
  width: 100%;
  padding: 30px 0 45px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px 1px rgb(62, 94, 60);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 20px;
}

.group {
  min-width: 320px;
  border-radius: 12px;
  height: 48px;
  overflow: hidden;
}

.input {
  background: rgba(32, 32, 32, 0.7);
  width: 100%;
  height: 100%;
  color: #fff;
  text-indent: 20px;
  font-size: 16px;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(82, 90, 71, 0.7);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: background 0.3s;
  outline: none;
}

.button:hover {
  background: rgb(82, 90, 71);
}

.input:focus {
  background: rgb(32, 32, 32);
}
